---
---

@font-face {
  font-family: Impact;
  src: local("Impact"), url({{ '/assets/impact.ttf' | relative_url }});
}

$base-font-family: "Impact", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$text-color:       white !default;
$background-color: #e60000 !default;
$brand-color:      white !default;
$grey-color:       #CCCCCC !default;

@import "minima";

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vozes-da-guaicurus {
  .post-list {
    > li {
      display: inline-block;
    }
  }

  .post-thumb {
    float: left;
    margin-right: 1ex;
    max-width: 30%;
  }
}
