---
---

@font-face {
  font-family: Impact;
  src: local("Impact"), url({{ '/assets/impact.ttf' | relative_url }});
}

$base-font-family: "Impact", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$background-color: white !default;
$text-color:       #e60000 !default;
$brand-color:      #e60000 !default;
$grey-color:       #CCCCCC !default;

@import "minima";

table td {
  padding: 0;
}

.site-header, .site-footer {
  color: $background-color;
  background: $brand-color;
  text-align: center;

  a {
    color: inherit;

    &:visited {
      color: $grey-color;
    }
  }
}

.site-title {
  float: none;
  text-align: center;
}

.site-nav2 {
  line-height: $base-line-height * $base-font-size * 2.25;
  text-align: center;

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.home {
  .post-list {
    > li {
      display: inline-block;
    }
  }

  .post-thumb {
    float: left;
    margin-right: 1ex;
    max-width: 30%;
  }

  .post-title {
    font-size: 100%;
  }

  .post-excerpt {
    font-size: 80%;
    margin-top: 1ex;
  }
}

.pagination {
  text-align: center;

  .link {
    margin: 1ex;
  }
}
