---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.categories.vozes-da-guaicurus -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a style="font-size: 100%" class="post-link" href="{{ post.url | relative_url }}">
          <img style="float: left; margin-right: 1ex; max-width: 30%;" src="{{ post.image.path }}" alt="{{ post.title }}"/>
          <span class="post-meta">{{ post.date | date: date_format }}</span><br>
          {{ post.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
